@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion  .accordion-item .accordion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}
  
.accordion .accordion-item .accordion-header{
  cursor: pointer;
}

.accordion .accordion-item.active .accordion-content {
  height: auto;
  transition: height 0.3s ease;
}

.accordion .chevron {
  transition: all 0.2s ease;
}
